body {
    padding: 24px;
    margin: auto;
    max-width: 65ch;
    color: #334155;
    text-align: justify;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #007fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #0f172a
}