---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h2>社交媒体</h2>
			<ul>
				<li><a href="https://x.com/linmaochun">Twitter</a></li>
                <li><a href="https://x.com/linmaochun">Telegram</a></li>
                <li><a href="https://x.com/linmaochun">推特</a></li>
                <li><a href="https://x.com/linmaochun">推特</a></li>
			</ul>
		</main>
	</body>
</html>